body {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	background-color: #FCFCFC;
	
	font-weight: lighter;

	margin: 0;
}

/* cards should start closed */
.startHidden { display: none; }

p {

}
p.tagline { /* for the clever tagline */
	color: #777;
	font-size: 12pt;
	text-align: center;
}

div {
	color: black;
	font-size: 12pt;
}
div.selector { /* div for date/location selectors */
	background-color: #CFB87C;

	color: black;

	/* don't make the bar take up the entire width */
	width: 40%;
	margin: 0 auto;

	border-radius: 10px;
}
div.location { /* div for locations */
	background-color: #EEE;
	/* card border and shadow use the same color */
	border: 1px solid #BBB;
	box-shadow: 0px 2px 2px #BBB;
	margin: 1cm 1cm 1cm 1cm;
	border-radius: 2px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .5cm;
}
div.station { /* div for stations */
	background-color: #DDD;
	display: inline;
}
div.meal { /* div for invdividual days */
	display: inline-block;
	vertical-align: text-top;
	background-color: #CACACA;
	width: auto;

	/* internal padding */
	/* top right bottom left */
	padding: 0cm 1cm 0cm 0cm;

	margin-bottom: .5cm;
	margin-left: .25cm;

	/* black bar on the left */
	border-left-style: solid;
	border-color: #353535;
	border-width: 3px;
}
div.expandbutton {
	background-color: #DDD;
	border-color: darkgray;
	border-top-style: solid;
	border-top-width: 1px;
	height: .8cm;
}
div.footer { /* content at the bottom of the screen */
	background-color: darkgray;
	width: fill;
	font-size: 10pt;
	text-align: center;
	padding-top: .5cm;
	/* the height of the footer element should be changed in the sticky footer code at the BOTTOM of this file */
}

h1 {

}
h1.title { /* the main title */
	background-color: black;
	color: #666A6C;
	font-size: 64pt;
	text-align: center;
	margin: 0;
	margin-bottom: .5cm;
	padding-bottom: .25cm;
}

h2 { /* all subheadings */
	color: black;
	margin: .25cm .25cm .25cm .25cm;
}
h2.locationtitle { /* heading for locations */
	font-size: 32pt;
}
h2.stationtitle { /* heading for stations */
	font-size: 24pt;
}
h2.mealtitle { /* heading for days */
	font-size: 14pt;
}

ul {

}
ul.nav { /* list for navigation buttons */
	text-align: center;
}
ul.menu { /* an unordered list for menu items */
	/*background-color: #AAAAAA;*/
}
li {

}
li.nav { /* list elements in the nav bar */
	display: inline-block;
	vertical-align: text-top;
	/* top right bottom left */
	padding: 0cm 1cm 0cm 1cm;
}
li.menuitem {

}

img {

}
img.expandicon_location {
	position: relative;
	float: left;
	height: 1.2cm;
	margin-top: .12cm;
	right: .6cm;
}
img.expandicon_station {
	position: relative;
	float: left;
	height: .8cm;
	margin-top: .15cm;
	right: .4cm;
}

a.title {
	/* can't think of a good color for the card headers yet,
	   black just doesn't say "click me" but nothing else looks good */
	color: black;
	text-decoration: none;
}

div.clickable { /* clickable elements have the hand cursor on them */
	cursor: pointer;
	transition: .5s background-color;
}
div.clickable:hover { /* color indication on link hover */
  background-color: #CFB87C;
}

/* 
the following is code to implement the sticky footer:
*/

html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -2.5cm; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 2.5cm; /* .push must be the same height as .footer */
	/* this is the height of the footer, edit it HERE, AND in the last line of the .wrapper element above */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/